body {
    background-color: #cef;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header, main, footer {
    min-width: fit-content;
}

header {
    background-color: #445;
}

header .container {
    display: flex;
    flex-direction: row;    
}

header .container span {
    align-self: center;
    color: #ccc;
    padding: 0.5rem;
}

header a {
    display: inline-block;
    color: #cef;
    padding: 0.5rem;
    text-decoration: none;
}

.spacer {
    flex-grow: 1;
}

header a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}

h1, h2, h3, p {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

h1, h2, h3 {
    background-color: #fff;
    border-bottom: 3px solid #236;
}

footer {
    background-color: #abd;
}

footer .container {
    display: flex;
    align-content: stretch;
}

.genre_filter {
    float: right;
    background-color: #abd;
}

.genre_filter .current {
    background-color: #dbd;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 0.3rem 1rem;
}

ul li a {
    color: #236;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.paginator {
    margin: 1rem;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 0.3rem;
    margin: 1px;
    text-decoration: none;
    border: 1px solid blueviolet;
    border-radius: 1rem;
}

.paginator span {
    background-color: #234;
    color: #eef
}

.paginator a {
    background-color: #fff;
}

.paginator form {
    display: inline-block;
}

ul.book_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

ul.book_list li.book {
    flex-basis: 15rem;
    border: 1px solid #999;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0;
}

ul.book_list li.book img {
    max-width: 20%;
}

ul.book_list li.book h3 {
    margin-top: 0;
}

table {
    margin: 0.5rem 1rem;
}

.form-error {
    border: 3px solid #900;
    background-color: #f66;
}

.table-grid {
    display: grid;
    padding: 0.5rem;
}

.form-grid.div {
    display: inline-block;
    padding: 0.5rem;
    align-self: center;
    justify-self: stretch;
}

.form-grid input {
    width: 20%;
}

.form-grid {
    grid-template-columns: 10rem auto;
}

.my-books-table {
    grid-template-columns: 3fr 1fr 1fr;
}

.table-grid-cell {
    display: inline-block;
    align-self: stretch;
    justify-self: stretch;
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 1px solid #999;
}

.center {
    text-align: center;
}

.dark {
    background-color: #569;
    color: #eee;
}

.overdue {
    background-color: #f99;
    color: indigo;
    font-weight: bold;
}

.alert {
    padding: 0.5rem 1rem;
    border: 3px solid #999;
}

.alert-error {
    background-color: #f99;
    color: #900;
    border-color: #900;
}

.alert-success {
    background-color: #afa;
    color: #070;
    border-color: #070;
}